@charset "UTF-8";
/* roboto-regular - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), url("../fonts/roboto-v30-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/roboto-v30-latin_cyrillic-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-500 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: local("Roboto"), url("../fonts/roboto-v30-latin_cyrillic-500.woff2") format("woff2"), url("../fonts/roboto-v30-latin_cyrillic-500.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-700 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: local("Roboto"), url("../fonts/roboto-v30-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/roboto-v30-latin_cyrillic-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-900 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: local("Roboto"), url("../fonts/roboto-v30-latin_cyrillic-900.woff2") format("woff2"), url("../fonts/roboto-v30-latin_cyrillic-900.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* raleway-regular - latin */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/raleway-v28-latin-regular.woff2") format("woff2"), url("../fonts/raleway-v28-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* raleway-700 - latin */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/raleway-v28-latin-700.woff2") format("woff2"), url("../fonts/raleway-v28-latin-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
:root {
  --body-background-color: #F5F5F5;
  --hover-color: #2196f3;
  --text-articl-color: #757575;
  --text-title-color: #212121;
  --footer-color: #2F303A;
  --black-color: #000000;
  --white-cololr: #FFFFFF;
  --team-section-color: #F5F4FA;
  --info-footer-color: #ffffff99;
  --btn-hover-color: #188CE8;
  --border-color-image: #EEEEEE;
  --header-border: #ECECEC;
  --icon-team-color: #AFB1B8;
  --bg-color-icon: background: rgba(255, 255, 255, 0.1);
  --hero-color: #C4C4C4;
  --bgc-works: rgba(47, 48, 58, 0.8);
  --bgc-cards-overlay: rgba(33, 150, 243, 0.9);
  --bgc-backdrop: rgba(0, 0, 0, 0.2);
  --border-color-form-modal: rgba(33, 33, 33, 0.2);
  --text-color-form-textarea: rgba(117, 117, 117, 0.5);
  --transition-duration: 250ms;
  --t-timing-f: cubic-bezier(0.4, 0, 0.2, 1);
}

/* Стили для обнуления верхних отступов у элементов */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

/*Oбнуления базовых свойств*/
/* Класс для обнуления базовых свойств у списков (ul) */
.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

/* Класс для обнуления базовых свойств у ссылок */
.link {
  text-decoration: none;
  color: inherit;
}

/* Свойства для обнуления курсива у address */
address {
  font-style: normal;
}

/* Свойства для обнуления точек у списка */
li {
  list-style-type: none;
}

/* Свойства для корректного отображения картинок */
img {
  display: block;
  max-width: 100%;
  height: auto;
} /**Backdrop*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--bgc-backdrop);
  opacity: 1;
  -webkit-transition: opacity var(--transition-duration) var(--t-timing-f), visibility var(--transition-duration) var(--t-timing-f);
  transition: opacity var(--transition-duration) var(--t-timing-f), visibility var(--transition-duration) var(--t-timing-f);
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.6);
          transform: translate(-50%, -50%) scale(0.6);
}

/*Hidden*/
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

/*Mixins*/
/*Body*/
body {
  font-family: "Roboto", sans-serif;
  color: var(--text-title-color);
}

/**Header*/
.header {
  padding: 16px 15px;
  border-bottom: 1px solid var(--header-border);
}
@media screen and (min-width: 768px) {
  .header {
    padding: 0;
  }
}

@media screen and (min-width: 768px) {
  .header__logo {
    margin-right: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .header__logo {
    margin-right: 93px;
  }
}

@media screen and (min-width: 1200px) {
  .header__link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.header__nav {
  position: relative;
  margin-bottom: 306px;
  margin-top: 0;
  padding: 0;
}
@media screen and (min-width: 768px) {
  .header__nav {
    margin-bottom: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.header__info {
  padding: 0;
  margin-bottom: 64px;
}
@media screen and (min-width: 768px) {
  .header__info {
    margin-left: 96px;
    margin: 0;
  }
}
@media screen and (min-width: 1200px) {
  .header__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    gap: 30px;
    padding: 0;
    margin: 0;
  }
}

@media screen and (min-width: 768px) {
  .header__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

/*Hero*/
.hero {
  margin: 0 auto;
  padding: 118px 60px;
  max-width: 480px;
  min-height: 400px;
  text-align: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--hero-color);
  list-style-type: none;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-mobil.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-mobil.jpg);
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-color: var(--hero-color);
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-mobil@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-mobil@2x.jpg);
  }
}
@media screen and (min-width: 577px) {
  .hero {
    max-width: 768px;
    padding: 118px 60px;
    background-size: cover;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-tablet.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-tablet.jpg);
  }
}
@media screen and (min-width: 577px) and (min-device-pixel-ratio: 2), screen and (min-width: 577px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 577px) and (min-resolution: 192dpi), screen and (min-width: 577px) and (min-resolution: 2dppx) {
  .hero {
    background-color: var(--hero-color);
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-tablet@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-tablet@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding: 200px;
    padding-bottom: 200px;
    margin-left: 0 auto;
    max-width: 1600px;
    height: 600px;
    background-size: cover;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-desktop.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-desktop.jpg);
    padding: 118px 60px;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-color: var(--hero-color);
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-desktop@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-desktop@2x.jpg);
  }
}

.hero__title {
  font-size: 26px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  font-family: inherit;
  font-weight: 900;
  line-height: 1.61;
  max-width: 360px;
  margin-left: auto;
  margin-right: auto;
  color: var(--white-cololr);
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    max-width: 696px;
    max-height: 120px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__button {
  padding: 10px 24px;
}

/*our benefits section*/
.benefits {
  list-style-type: none;
  padding: 60px 0;
}
@media (min-width: 1200px) {
  .benefits {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and (min-width: 768px) {
  .benefits__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 -15px;
  }
}
@media screen and (min-width: 1200px) {
  .benefits__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    padding: 0;
  }
}

.benefits__item {
  margin-bottom: 30px;
}
@media screen and (min-width: 767px) and (max-width: 1199px) {
  .benefits__item {
    width: calc(50% - 30px);
    margin: 15px;
    -ms-flex-preferred-size: 354px;
        flex-basis: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .benefits__item {
    width: calc(25% - 30px);
    margin: 15px;
    -ms-flex-preferred-size: 270px;
        flex-basis: 270px;
    margin-bottom: 0;
    margin-top: 0;
  }
}

.benefits__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 120px;
  background-color: var(--team-section-color);
  margin-bottom: 30px;
  border-radius: 4px;
}

.benefits__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--text-title-color);
  letter-spacing: 0.03em;
  text-align: center;
}
@media screen and (min-width: 767px) {
  .benefits__title {
    text-align: start;
  }
}

.benefits__texts {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--text-articl-color);
  letter-spacing: 0.03em;
}

/*our works section*/
.work-section {
  display: none;
}
@media screen and (min-width: 1200px) {
  .work-section {
    display: block;
  }
}

@media screen and (min-width: 1200px) {
  .work-section__title {
    margin-bottom: 50px;
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    color: var(--text-title-color);
    letter-spacing: 0.03em;
  }
}

@media screen and (min-width: 1200px) {
  .work-section__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 94px;
    gap: 30px;
  }
}

/*Team section*/
.team-section {
  background-color: var(--team-section-color);
  list-style-type: none;
  padding: 60px 0;
}
@media (min-width: 1200px) {
  .team-section {
    padding: 94px 0;
  }
}

.team-section__title {
  font-family: inherit;
  font-weight: 700;
  text-align: center;
  font-size: 28px;
  line-height: 1.17;
  color: var(--text-title-color);
  letter-spacing: 0.03em;
  margin-bottom: 30px;
}
@media (min-width: 1200px) {
  .team-section__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.16;
  }
}

.team-section__list {
  text-align: center;
}
@media (min-width: 768px) {
  .team-section__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

/*Clients section*/
.clients-section {
  padding: 60px 0;
}
@media screen and (min-width: 1200px) {
  .clients-section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.clients-section__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-title-color);
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .clients-section__title {
    font-size: 36px;
    line-height: 1.16;
    margin-bottom: 50px;
  }
}

.clients-section__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -15px;
}
@media screen and (min-width: 1200px) {
  .clients-section__list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

/*Footer*/
.footer {
  background-color: var(--footer-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-block {
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footer-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    text-align: start;
  }
}

@media screen and (min-width: 767px) and (max-width: 1199px) {
  .footer__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 165px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

.footer__address--font {
  font-weight: 400;
  line-height: 1.7;
  color: var(--info-footer-color);
  letter-spacing: 0.03em;
}

.footer__social {
  margin-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .footer__social {
    margin-left: 70px;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .footer__subscribe {
    margin-left: 93px;
  }
}

.footer-title {
  margin-bottom: 20px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-cololr);
}

/*Social-network*/
.social-network {
  min-width: 206px;
  height: auto;
}

.social-network__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

/*Portfolio page**/
.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio__btn-group {
  margin-bottom: 56px;
}

/*Examples of works*/
.examples {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  row-gap: 30px;
}

/*Container*/
.container {
  padding: 0 15px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

/*Flex-centr*/
@media screen and (min-width: 768px) {
  .flex-centr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

/*logo*/
.logo {
  font-family: "Raleway";
  font-weight: 700;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--hover-color);
  line-height: 1.16;
  font-size: 24px;
}
@media screen and (min-width: 768px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
    font-size: 24px;
  }
}
.logo--black {
  color: var(--black-color);
}
.logo--white {
  color: var(--white-cololr);
}

/*Button*/
.button {
  background: var(--hover-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  color: var(--white-cololr);
  letter-spacing: 0.06em;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: var(--transition-duration);
          transition-duration: var(--transition-duration);
  -webkit-transition-timing-function: var(--t-timing-f);
          transition-timing-function: var(--t-timing-f);
  cursor: pointer;
}
.button:hover, .button:focus, .button:active {
  background-color: var(--btn-hover-color);
}

.work-card__thumb {
  position: relative;
}

.work-card__text {
  position: absolute;
  bottom: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  width: 100%;
  background-color: var(--bgc-works);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 0.87;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-cololr);
}

.team-card {
  max-width: 450px;
  background-color: var(--white-cololr);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media (max-width: 767px) {
  .team-card:not(:first-child) {
    margin-top: 30px;
  }
}
@media (min-width: 768px) {
  .team-card {
    width: calc(50% - 30px);
    -ms-flex-preferred-size: 345px;
        flex-basis: 345px;
    margin: 15px;
  }
  .team-card:nth-child(-n+2) {
    margin-top: 0;
  }
  .team-card:nth-child(n+2) {
    margin-bottom: 0;
  }
}
@media (min-width: 1200px) {
  .team-card {
    max-width: 270px;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.team-card__title {
  padding: 30px 0 24px;
  margin-bottom: 0px;
}
@media screen and (min-width: 1200px) {
  .team-card__title {
    padding-bottom: 30px;
  }
}

.team-card__name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  color: var(--text-title-color);
  text-align: center;
  letter-spacing: 0.03em;
}

.team-card__text {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  color: var(--text-articl-color);
  text-align: center;
  letter-spacing: 0.03em;
}

.team-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

.team-icon__item {
  width: 44px;
  height: 44px;
}

.team-icon__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  color: var(--icon-team-color);
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
  -webkit-transition-duration: var(--transition-duration);
          transition-duration: var(--transition-duration);
  -webkit-transition-timing-function: var(--t-timing-f);
          transition-timing-function: var(--t-timing-f);
}
.team-icon__link:hover, .team-icon__link:active, .team-icon__link:focus {
  background-color: var(--hover-color);
  color: var(--white-cololr);
}

.team-icon__icon {
  fill: currentColor;
}

.clients-card {
  max-width: calc(50% - 30px);
  width: 210px;
  height: 92px;
  margin: 15px;
}
@media scree and (min-width: 1200px) {
  .clients-card {
    width: 170px;
  }
}

.clients-card__link {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid var(--icon-team-color);
  border-radius: 4px;
  color: var(--icon-team-color);
  -webkit-transition-property: color, border-color;
  transition-property: color, border-color;
  -webkit-transition-duration: var(--transition-duration);
          transition-duration: var(--transition-duration);
  -webkit-transition-timing-function: var(--t-timing-f);
          transition-timing-function: var(--t-timing-f);
}
.clients-card__link:hover, .clients-card__link:active, .clients-card__link:focus {
  border-color: var(--hover-color);
  color: var(--hover-color);
}

.clients-card__link-icon {
  fill: currentColor;
}

.button__icon {
  fill: currentColor;
}

.button__icon--margin-left__12px {
  margin-left: 12px;
}

.social-icon {
  width: 44px;
  height: 44px;
}

.social-icon__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  color: var(--white-cololr);
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: var(--transition-duration);
          transition-duration: var(--transition-duration);
  -webkit-transition-timing-function: var(--t-timing-f);
          transition-timing-function: var(--t-timing-f);
}
.social-icon__link:hover, .social-icon__link:active, .social-icon__link:focus {
  background-color: var(--hover-color);
}

.social-icon__style {
  fill: currentColor;
}

.address {
  margin-top: 20px;
}

.address__list {
  margin-top: 0;
  margin-bottom: 60px;
  padding-left: 0;
}
@media screen and (min-width: 1200px) {
  .address__list {
    margin-bottom: 0;
  }
}

.address__item {
  margin-bottom: 8px;
}
@media screen and (min-width: 1200px) {
  .address__item {
    margin-bottom: 9px;
  }
}

.address-map {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  color: var(--white-cololr);
  font-style: normal;
  text-decoration: none;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: var(--transition-duration);
          transition-duration: var(--transition-duration);
  -webkit-transition-timing-function: var(--t-timing-f);
          transition-timing-function: var(--t-timing-f);
}
.address-map:hover, .address-map:active, .address-map:focus {
  color: var(--hover-color);
}

.subscribe-form__area {
  max-width: 480px;
  width: 100%;
  height: auto;
  background-color: inherit;
  padding-top: 15px;
  padding-right: 0;
  padding-bottom: 15px;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.6);
}
@media screen and (min-width: 1200px) {
  .subscribe-form__area {
    width: 358px;
  }
}

.subscribe-form__button {
  width: 200px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 0;
}
@media screen and (min-width: 1200px) {
  .subscribe-form__button {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 12px;
  }
}

/*Sorting btn*/
.btn-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style-type: none;
  gap: 8px;
}

.btn-group__links {
  padding: 6px 22px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  -webkit-transition-property: background-color, color, -webkit-box-shadow;
  transition-property: background-color, color, -webkit-box-shadow;
  transition-property: background-color, color, box-shadow;
  transition-property: background-color, color, box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: var(--transition-duration);
          transition-duration: var(--transition-duration);
  -webkit-transition-timing-function: var(--t-timing-f);
          transition-timing-function: var(--t-timing-f);
}
.btn-group__links:hover, .btn-group__links:active, .btn-group__links:focus {
  background-color: var(--hover-color);
  color: var(--white-cololr);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.examples-card {
  width: 370px;
}

.examples-card__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: var(--transition-duration);
          transition-duration: var(--transition-duration);
  -webkit-transition-timing-function: var(--t-timing-f);
          transition-timing-function: var(--t-timing-f);
}
.examples-card__link:hover, .examples-card__link:focus, .examples-card__link:active {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.examples-card__thumb {
  position: relative;
  overflow: hidden;
}

.examples-card__name {
  padding: 20px 24px;
  border: 1px solid var(--border-color-image);
  border-top: none;
}

.examples-card__title {
  margin-bottom: 4px;
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--text-title-color);
}

.examples-card__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  color: var(--text-articl-color);
  letter-spacing: 0.03em;
}

.examples-card__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 63px 24px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: var(--white-cololr);
  background-color: var(--bgc-cards-overlay);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  opacity: 0;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  -webkit-transition-duration: var(--transition-duration);
          transition-duration: var(--transition-duration);
  -webkit-transition-timing-function: var(--t-timing-f);
          transition-timing-function: var(--t-timing-f);
}
.examples-card:hover .examples-card__overlay, .examples-card:active .examples-card__overlay, .examples-card:focus .examples-card__overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}
.examples-card__link:hover .examples-card__overlay, .examples-card__link:active .examples-card__overlay, .examples-card__link:focus .examples-card__overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.btn-modal--close {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 0;
  border-radius: 50%;
  cursor: pointer;
  background-color: inherit;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-transition: fill var(--transition-duration) var(--t-timing-f);
  transition: fill var(--transition-duration) var(--t-timing-f);
}
.btn-modal--close:hover, .btn-modal--close:focus, .btn-modal--close:active {
  fill: var(--hover-color);
}

.contract-terms__labl {
  position: relative;
  display: block;
  text-align: center;
  width: 100%;
  padding-left: 27px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--text-articl-color);
}
@media (min-width: 1200px) {
  .contract-terms__labl {
    padding-left: 20px;
    font-size: 14px;
    line-height: 1.71;
  }
}

.contract-terms__checkbox {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.contract-terms__checkbox:focus ~ .contract-terms__icon, .contract-terms__checkbox:active ~ .contract-terms__icon, .contract-terms__checkbox:hover ~ .contract-terms__icon {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border: 2px solid #212121;
}
.contract-terms__checkbox:checked ~ .contract-terms__icon {
  background-color: var(--hover-color);
  background-origin: border-box;
  border-color: var(--hover-color);
}

.contract-terms__link {
  color: var(--hover-color);
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  -webkit-transition: color var(--transition-duration) var(--t-timing-f);
  transition: color var(--transition-duration) var(--t-timing-f);
}
.contract-terms__link:hover, .contract-terms__link:focus, .contract-terms__link:active {
  color: var(--btn-hover-color);
}

.contract-terms__icon {
  position: absolute;
  top: 50%;
  left: 13px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 16px;
  height: 15px;
  background: var(--white-cololr);
  border-radius: 2px;
  border: 1.5px solid #212121;
  fill: var(--white-cololr);
  -webkit-transition: background-color var(--transition-duration) var(--t-timing-f), border-radius var(--transition-duration) var(--t-timing-f), border var(--transition-duration) var(--t-timing-f), fill var(--transition-duration) var(--t-timing-f);
  transition: background-color var(--transition-duration) var(--t-timing-f), border-radius var(--transition-duration) var(--t-timing-f), border var(--transition-duration) var(--t-timing-f), fill var(--transition-duration) var(--t-timing-f);
}

.user-comment-form__label {
  display: block;
  margin-bottom: 4px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--text-articl-color);
}

.user-comment-form__textarea {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  outline: none;
  border: 1px solid var(--border-color-form-modal);
  border-radius: 4px;
  overflow: auto;
  -webkit-transition-property: border-color;
  transition-property: border-color;
  -webkit-transition-duration: var(--transition-duration);
          transition-duration: var(--transition-duration);
  -webkit-transition-timing-function: var(--t-timing-f);
          transition-timing-function: var(--t-timing-f);
  resize: none;
}
.user-comment-form__textarea:hover, .user-comment-form__textarea:focus, .user-comment-form__textarea:active {
  border-color: var(--hover-color);
}
.user-comment-form__textarea::-webkit-input-placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--text-color-form-textarea);
}
.user-comment-form__textarea::-moz-placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--text-color-form-textarea);
}
.user-comment-form__textarea:-ms-input-placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--text-color-form-textarea);
}
.user-comment-form__textarea::-ms-input-placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--text-color-form-textarea);
}
.user-comment-form__textarea::placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--text-color-form-textarea);
}

.user-form__label {
  display: block;
  margin-bottom: 4px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--text-articl-color);
}

.user-form__thumb {
  position: relative;
}

.user-form__input {
  width: 100%;
  height: 40px;
  padding: 0 15px 0 42px;
  border: 1px solid var(--border-color-form-modal);
  border-radius: 4px;
  outline: none;
  -webkit-transition-property: border-color;
  transition-property: border-color;
  -webkit-transition-duration: var(--transition-duration);
          transition-duration: var(--transition-duration);
  -webkit-transition-timing-function: var(--t-timing-f);
          transition-timing-function: var(--t-timing-f);
}
.user-form__input:focus, .user-form__input:hover, .user-form__input:active {
  border-color: var(--hover-color);
}
.user-form__input:hover + .user-form__icon, .user-form__input:focus + .user-form__icon, .user-form__input:active + .user-form__icon {
  fill: var(--hover-color);
}

.user-form__icon {
  position: absolute;
  top: 50%;
  left: 15px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: var(--transition-duration);
          transition-duration: var(--transition-duration);
  -webkit-transition-timing-function: var(--t-timing-f);
          transition-timing-function: var(--t-timing-f);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  max-width: 450px;
  padding: 40px;
  background-color: var(--white-cololr);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform var(--transition-duration) var(--t-timing-f);
  transition: -webkit-transform var(--transition-duration) var(--t-timing-f);
  transition: transform var(--transition-duration) var(--t-timing-f);
  transition: transform var(--transition-duration) var(--t-timing-f), -webkit-transform var(--transition-duration) var(--t-timing-f);
}
@media screen and (min-width: 1200px) {
  .modal {
    max-width: 528px;
  }
}

.modal__title {
  display: block;
  margin-bottom: 12px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-title-color);
}
@media screen and (min-width: 1200px) {
  .modal__title {
    line-height: 1.15;
  }
}

.modal__user-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.modal__contract-terms {
  margin-bottom: 31px;
}
@media (min-width: 1200px) {
  .modal__contract-terms {
    margin-bottom: 30px;
  }
}

.modal__button {
  display: block;
  width: 200px;
  height: 50px;
  margin: 0 auto;
  padding: 0%;
  text-align: center;
}

/*Site-info*/
.info {
  margin-top: 0;
}
@media screen and (min-width: 768px) {
  .info {
    margin-left: 96px;
  }
}

.info__item:first-child {
  margin-bottom: 32px;
}
@media screen and (min-width: 768px) {
  .info__item:first-child {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .info__item:first-child {
    margin-bottom: 0;
  }
}

.info__link {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: var(--text-articl-color);
  line-height: 1.16;
  font-style: normal;
  text-decoration: none;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: var(--transition-duration);
          transition-duration: var(--transition-duration);
  -webkit-transition-timing-function: var(--t-timing-f);
          transition-timing-function: var(--t-timing-f);
}
.info__link:hover, .info__link:active, .info__link:focus {
  color: var(--hover-color);
}
@media screen and (max-width: 768px) {
  .info__link:hover, .info__link:active, .info__link:focus {
    font-size: 34px;
    line-height: 1.17;
  }
}
@media screen and (min-width: 768px) {
  .info__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 14px;
    line-height: 1.14;
    font-size: 12px;
  }
}

.info__icon {
  fill: currentColor;
  display: none;
}
@media screen and (min-width: 768px) {
  .info__icon {
    display: block;
    margin-right: 10px;
  }
}

/*Site-Navigation*/
.nav__item {
  margin-bottom: 32px;
}
@media screen and (min-width: 768px) {
  .nav__item {
    margin: 0;
  }
}

@media screen and (min-width: 768px) {
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 0;
    gap: 51px;
  }
}
@media screen and (min-width: 1200px) {
  .nav__list {
    gap: 50px;
  }
}

.nav__link {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--text-title-color);
  text-decoration: none;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: var(--transition-duration);
          transition-duration: var(--transition-duration);
  -webkit-transition-timing-function: var(--t-timing-f);
          transition-timing-function: var(--t-timing-f);
}
@media screen and (min-width: 768px) {
  .nav__link {
    font-size: 14px;
    line-height: 1.14;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
.nav__link:hover, .nav__link:active, .nav__link:focus {
  color: var(--hover-color);
}

/*Подсветка страницы на которой находимся*/
@media screen and (min-width: 767px) {
  .nav__link--current {
    position: absolute;
    color: var(--hover-color);
  }
  .nav__link--current::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 4px;
    background: #2196F3;
    border-radius: 2px;
  }
}

.nav__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.button-menu--open {
  position: absolute;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  top: 10px;
  right: 15px;
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: var(--transition-duration);
          transition-duration: var(--transition-duration);
  -webkit-transition-timing-function: var(--t-timing-f);
          transition-timing-function: var(--t-timing-f);
}
.button-menu--open:hover, .button-menu--open:active, .button-menu--open:focus {
  fill: var(--hover-color);
}
@media screen and (min-width: 767px) {
  .button-menu--open {
    display: none;
  }
}

.button-menu--close {
  top: 10px;
  right: 15px;
  position: absolute;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: var(--transition-duration);
          transition-duration: var(--transition-duration);
  -webkit-transition-timing-function: var(--t-timing-f);
          transition-timing-function: var(--t-timing-f);
}
.button-menu--close:hover, .button-menu--close:active, .button-menu--close:focus {
  fill: var(--hover-color);
}
@media screen and (min-width: 767px) {
  .button-menu--close {
    display: none;
  }
}

.button-menu .button-menu__icon--close {
  display: none;
}

.button-menu.is-open .button-menu__icon--close {
  display: block;
}

.button-menu.is-open .button-menu__icon--menu {
  display: none;
}

.menu-container {
  display: none;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .menu-container {
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.menu-container.is-open {
  display: block;
}
@media screen and (max-width: 767px) {
  .menu-container.is-open {
    padding: 48px 40px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 999;
    background-color: white;
  }
}

.menu-container__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 10px;
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--hover-color);
}

.menu-container__item {
  color: var(--hover-color);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: var(--transition-duration);
          transition-duration: var(--transition-duration);
  -webkit-transition-timing-function: var(--t-timing-f);
          transition-timing-function: var(--t-timing-f);
}
.menu-container__item:not(:last-child) {
  padding-right: 10px;
  border-right: 1px solid var(--border-color-form-modal);
}
.menu-container__item:not(:first-child) {
  padding-left: 10px;
}
.menu-container__item:hover, .menu-container__item:active, .menu-container__item:focus {
  color: blue;
}
@media screen and (min-width: 768px) {
  .menu-container__item {
    display: none;
  }
}/*# sourceMappingURL=main.css.map */