:root {
    --body-background-color: #F5F5F5;
    
    --hover-color: #2196f3;
    --text-articl-color: #757575;
    --text-title-color: #212121;
    --footer-color: #2F303A;
    --black-color: #000000;
    --white-cololr: #FFFFFF;
    --team-section-color: #F5F4FA;
    --info-footer-color: #ffffff99;
    --btn-hover-color: #188CE8;
    --border-color-image: #EEEEEE;
    --header-border: #ECECEC;
    --icon-team-color: #AFB1B8;
    --bg-color-icon: background: rgba(255, 255, 255, 0.1);
    --hero-color: #C4C4C4;
    --bgc-works: rgba(47, 48, 58, 0.8);
    --bgc-cards-overlay: rgba(33, 150, 243, 0.9);
    --bgc-backdrop: rgba(0, 0, 0, 0.2);
    --border-color-form-modal: rgba(33, 33, 33, 0.2);
    --text-color-form-textarea: rgba(117, 117, 117, 0.5);

    --transition-duration: 250ms;
    --t-timing-f: cubic-bezier(0.4, 0, 0.2, 1);
}