.benefits {
    list-style-type: none;
    padding: 60px 0;

    @media (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
        }
}

.benefits__list {
    @media screen and (min-width: 768px)
    {
         display: flex;
         justify-content: center;
         flex-wrap: wrap;
         gap: 30px;
    }
   

   @media screen and (min-width: 1200px) {
    display: flex;
    flex-wrap: nowrap;
    padding: 0;
    }
}

.benefits__item {
@media screen and (max-width: 767px)
{
    &:not(:last-child)
{
    margin-bottom: 30px;
}
}


@media screen and (min-width: 767px) and (max-width: 1199px)
{
    width: calc((100%/2) - 2*15px);
    flex-basis: 354px;
    &:nth-child(-n+2) {
    margin-top: 0;
    }
    &:nth-child(n+2) {
    margin-bottom: 0;
    }

}
@media screen and (min-width: 1200px) {
    width: calc((100%/4) - 2*15px);
    flex-basis: 270px;
    margin-bottom: 0;
    margin-top: 0;
}
}

.benefits__icon {
    @include flex-centr;
    flex-direction: column;
    height: 120px;
    background-color: var(--team-section-color);
    margin-bottom: 30px;
    border-radius: 4px;
}

.benefits__title {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--text-title-color);
    letter-spacing: 0.03em;
    text-align: center;

@media screen and (min-width: 767px) {
       text-align: start;
    }
}

.benefits__texts {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: var(--text-articl-color);
    letter-spacing: 0.03em;
}
