.footer {
    display: flex;
    background-color: var(--footer-color);
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
}

.footer__thumb
{
@media screen and (min-width: 1200px) {
        display: flex;
        align-items: baseline;
        text-align: start;
    }
}

.footer-block {
@media screen and (min-width: 767px) and (max-width: 1199px) {
    display: flex;

    align-items: baseline;
    justify-content: center;
    gap: 165px;
    margin-bottom: 60px;
        }


@media screen and (min-width: 1200px) {
    display: flex;
    align-items: baseline;
    text-align: start;
}
}


.footer__address
{
margin-bottom: 60px;
@media screen and (min-width: 768px) {
    margin-bottom: 0;
    
    }

}

.footer__social {
    margin-bottom: 60px;
    @media screen and (min-width: 768px) {
    margin-bottom: 0;

    }
    @media screen and (min-width: 1200px) {
             margin-left: 70px;
             margin-bottom: 0;
        }
}

.footer__subscribe 
{
@media screen and (min-width: 1200px) {

        margin-left: 93px;
        }
}

.footer-title {

    margin-bottom: 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white-cololr)
}