.header {
    border-bottom: 1px solid var(--header-border);
}

.header__thumb
{
    padding: 15px 0;
    position: relative;
}

.header__logo {
    margin-right: 93px;

}

.header__link {
    padding-top: 32px;
    padding-bottom: 32px;
}

.header__nav {
display: none;

    @media screen and (min-width: 768px) {
        display: flex;
    margin-top: 0;
    margin-bottom: 0;
    }
}

.header__info {

display: none;

@media screen and (min-width: 768px) {
display: block;
padding: 0%;
margin-left: 90px;
        }

    @media screen and (min-width: 1200px) {
    display: flex;
    gap: 30px;
    padding: 0;
    margin: 0;
    margin-left: auto;
    }
}