.work-section
{
        display: none;
        @media screen and (min-width: 1200px) {
                display: block;
            }
}


.work-section__title {

   @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    color: var(--text-title-color);
    letter-spacing: 0.03em;
    }
}

.work-section__list {
   @media screen and (min-width: 1200px) {
    display: flex;
    padding-bottom: 94px;
    gap: 30px;
    }
   
}