.button-menu--open
{ position: absolute;
    display: inline-flex;
    top: 10px;
   right: 15px;
        padding: 0;
        margin: 0;
        background-color: transparent;
        border: none;
       
        transition-property: fill;
            transition-duration: var(--transition-duration);
            transition-timing-function: var(--t-timing-f);
        
            &:hover,
            &:active,
            &:focus 
            {
                fill: var(--hover-color);
            }

    @media screen and (min-width: 767px)
    {
        display: none;
    }
  
}

.button-menu--close {
    top: 10px;
    right: 15px;

    position: absolute;
    display: inline-flex;
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: none;

    transition-property: fill;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--t-timing-f);
    
        &:hover,
        &:active,
        &:focus {
            fill: var(--hover-color);
        }
    @media screen and (min-width: 767px) {
        display: none;
    }

}

.button-menu .button-menu__icon--close
{
    display: none;
}

.button-menu.is-open .button-menu__icon--close
{
    display: block;
}

.button-menu.is-open .button-menu__icon--menu {
    display: none;
}

.menu-container
{
    display: none;
    width: 100%;
    @media screen and (min-width: 768px) {
          display: block;
          display: flex;
          justify-content: space-between;
        }

    }

.menu-container.is-open {
    display: block;
    
    @media screen and (max-width: 767px) 
    { 
    padding: 48px 40px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 999;
    background-color: white;
    }
}
   
.menu-container__list
{
    display: flex;
    padding-right: 10px;
    font-family: inherit;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 1.22;   
        letter-spacing: 0.02em;
        color: var(--hover-color);
}

.menu-container__item
{
    &:not(:last-child){
    padding-right: 10px;
        border-right: 1px solid var(--border-color-form-modal);
    }
    &:not(:first-child)
    {
     padding-left: 10px;
        
    }
    color: var(--hover-color);
        transition-property: color;
        transition-duration: var(--transition-duration);
        transition-timing-function: var(--t-timing-f);
    
        &:hover,
        &:active,
        &:focus {
            color: blue;
        }
    

    @media screen and (min-width: 768px)
    {
        display: none;
    }
    
}

 