.button {

    background: var(--hover-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;

    font-family: inherit;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    color: var(--white-cololr);
    letter-spacing: 0.06em;

   
    transition-property: background-color;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--t-timing-f);

    cursor: pointer;

        &:hover,
        &:focus,
        &:active 
        {
            background-color: var(--btn-hover-color);
        }
}

