.mobil__button-menu--open
{ 
    position: absolute;
    cursor: pointer;

    top: 10px;
    right: 15px;
        padding: 0;
        margin: 0;
        background-color: transparent;
        border: none;
       
        transition-property: fill;
            transition-duration: var(--transition-duration);
            transition-timing-function: var(--t-timing-f);
        
            &:hover,
            &:active,
            &:focus 
            {
                fill: var(--hover-color);
            }

    @media screen and (min-width: 767px)
    {
        display: none;
    }
  
}

.mobil__button-menu--close {
    position: absolute;
    cursor: pointer;
    top: 10px;
    right: 15px;

    position: absolute;

    padding: 0;
    margin: 0;
    background-color: transparent;
    border: none;

    transition-property: fill;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--t-timing-f);
    
        &:hover,
        &:active,
        &:focus {
            fill: var(--hover-color);
        }
    @media screen and (min-width: 767px) {
        display: none;
    }

}

.mobil__button-menu .mobil__button-menu__icon--close
{
    display: none;
}

.mobil__button-menu.is-open .mobil__button-menu__icon--close
{
    display: block;
}

mobil__.button-menu.is-open .mobil__button-menu__icon--menu {
    display: none;
}

.menu-container
{
    position: relative;
    display: none;
    width: 100%;
    padding: 0 15px;
        margin: 0 auto;
    
        @media screen and (min-width: 480px) {
            width: 480px;
        }

    }

.menu-container.is-open {
    display: block;
    
    @media screen and (max-width: 767px) 
    { 
    padding: 48px 40px;
    position: absolute;
    top: 0;
    left: 0;
    //width: 100vw;
    //height: 100vh;
    z-index: 999;
    background-color: white;
    }
}

.mobil-nav
{
    margin-bottom: 306px;
}

.mobil-nav__item
{
    

&:not(:last-child)
{
margin-bottom: 30px;
}
}

.mobil-nav__link
{
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--text-title-color);

    &:hover,
    &:active,
    &:focus {
            color: var(--hover-color);
        }
}
.mobil-nav__link--current
{
    color: var(--hover-color);
}

.mobil-contacts
{
    margin-bottom: 60px;
}

.mobil-contacts__item
{
    &:not(:last-child) 
    {
        margin-bottom: 32px;
    }
}

.mobil-contacts__link
{
font-family: inherit;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 1.16;
letter-spacing: 0.02em;

color: var(--text-articl-color);
    &:hover,
    &:active,
    &:focus {
        color: var(--btn-hover-color);
    }
}


.mobil-contacts__link--current
{
font-family: inherit;
font-style: normal;
font-weight: 500;
font-size: 34px;
line-height: 1.17;
letter-spacing: 0.02em;
color: var(--hover-color);
    &:hover,
    &:active,
    &:focus {
        color: var(--btn-hover-color);
    }
}


.mobil-social__list
{
display: flex;
flex-wrap: wrap;
}

.mobil-social__item
{

    padding: 0 10px;
    &:not(:last-child)
    {
        border-right: 1px solid var(--border-color-form-modal);
    }
    
}

.mobil-social__link
{
    font-family: inherit;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 1.22;
        letter-spacing: 0.02em;
    
    color: var(--hover-color);
        transition-property: color;
        transition-duration: var(--transition-duration);
        transition-timing-function: var(--t-timing-f);
    
        &:hover,
        &:active,
        &:focus {
        color: var(--btn-hover-color);
        }
    

    @media screen and (min-width: 768px)
    {
        display: none;
    }
    
}

 