.info
{
    margin-top: 0;
@media screen and (min-width: 768px) {
       margin-left: 96px;

    }

}


.info__item:first-child
{
margin-bottom: 32px;

@media screen and (min-width: 768px) {
    margin-bottom: 10px;
    }
@media screen and (min-width: 1200px) {
    margin-bottom: 0;
}

}
.info__link 
{
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.02em;
    color: var(--text-articl-color);
    line-height: 1.16;   
    font-style: normal;
    text-decoration: none;


    transition-property: color;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--t-timing-f);

        &:hover,
        &:active,
        &:focus 
        {
            color: var(--hover-color);
            @media screen and (max-width: 768px) {
                    font-size: 34px;
                    line-height: 1.17;
                }
        }

@media screen and (min-width: 768px) {
display: flex;
align-items: center;
    
    font-size: 14px;
    line-height: 1.14;
    font-size: 12px;
}


  
}

.info__icon 
{
    fill: currentColor;
    display: none;

    @media screen and (min-width: 768px) {
    display: block;
             margin-right: 10px;
        }
   
    
}

